extends layout

block content
  input(id='board-search' type='text' placeholder='Search Boards')
  input(id='board-add' type='submit' value='Add')
  #active-boards
    h1= "No boards selected"
  #post-holder
