extends layout

block content
  input(id='board-search' type='text' placeholder='Search Boards')
  script(type='text/javascript').
    $( "#board-search" ).autocomplete({ source: [ "c++", "java", "php", "coldfusion", "javascript", "asp", "ruby" ] });
