doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    #foot
      p.
        This is a p in the foot that should be on every page that is extended from this
        layout. I think atleast.
