doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/jquery-ui/ui-lightness/jquery-ui-1.10.4.custom.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(type='text/javascript' src='/js/jquery-1.10.2.js')
    script(type='text/javascript' src='/js/jquery-ui-1.10.4.custom.min.js')
    script(type='text/javascript' src='/js/kork.js')
  body
    block content
